*{
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    background: url(../Styles/wall.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}
.contenedor-form {
    position: relative;
    background: rgba(0,0,0,.7);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;
    padding: 40px;
}
.toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    transition: all 1s ease;
    cursor: pointer;
}
.toggle:hover{
    border-top: 2px solid #13BD38;
    border-bottom: 2px solid #13BD38;
}
.toggle span{
    letter-spacing: 2px;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"]{
    outline: none;
    background: rgba(0,0,0,.5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all 1s ease;
}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus{
    border-bottom: 4px solid #13BD38;
}
.contenedor-form input[type="radio"]{
    display: none;
}
.contenedor-form .radio{
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    
}

.contenedor-form .radio + .radio{
    margin-left: 60px;
}
.contenedor-form .radio{
    margin-left: 100px;
}

.contenedor-form .radio span{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 3px solid #ff851b;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.contenedor-form .radio span:after{
    content: "";
    height: 6px;
    width: 6px;
    background: #ff851b;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius:50%;
    transition: 300ms ease-in-out 0s;
}

.contenedor-form .radio input[type="radio"]:checked~span:after{
    transform: translate(-50%, -50%) scale(1);
}

.contenedor-form h4{
    text-align:center;
}

.contenedor-form textarea[name="comentario"]{
    outline: none;
    background: rgba(0,0,0,.5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all 1s ease;
}

.contenedor-form input[type="submit"]{
    background: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all 1s ease;
    border-radius: 3px;
}

.contenedor-form input[type="submit"]:hover{
    background: rgba(19,189,56);
}

h1{
    position: relative;
    background: rgba(0,0,0,.7);
    width: 100%;
    max-width: 550px;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.contenedor-form .radius{
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
.contenedor-form .radius + .radius{
    margin-left: 20px;
}
.contenedor-form .radius span{
    height: 18px;
    width: 18px;
    border-radius: 10%;
    border: 3px solid #ff851b;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    
}
.contenedor-form .radius span:after{
    content: "";
    height: 6px;
    width: 6px;
    background: #ff851b;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 10%;
    transition: 300ms ease-in-out 0s;
}

.contenedor-form .radius input[type="radio"]:checked~span:after{
    transform: translate(-50%, -50%) scale(1);
}

.contenedor-form .custom-select{
    position: relative;
}

.contenedor-form .custom-select select{
    display: none;
}

.contenedor-form .select-selected{
    background: #ff851b;
}

.contenedor-form .select-selected:after{
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.contenedor-form .select-selected.select-arrow-active:after{
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.contenedor-form .select-items div,.select-selected{
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0,0,0,0.1) transparent;
    cursor: pointer;
}

.contenedor-form .select-items{
    position: absolute;
    background: #ff851b;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99; 
}

.contenedor-form .select-hide{
    display: none;
}

.contenedor-form .select-items div:hover, .same-as-selected{
    background-color: rgba(0,0,0,.1);
}

.contenedor-form .formulario {
    display: none;
}

.contenedor-form .formulario:nth-child(2){
    display: block;
}